<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535746269323-i2dhb5n7h62tpi4uglsemkiepdko0gak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535746269323-i2dhb5n7h62tpi4uglsemkiepdko0gak</string>
	<key>API_KEY</key>
	<string>AIzaSyBUofHj_NiEADCaC1_t1YJ4YQz3YCNTedQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535746269323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-46ccf</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-46ccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535746269323:ios:16ec2c77078a7011b7848e</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-46ccf-default-rtdb.firebaseio.com</string>
</dict>
</plist>